<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Database Size Report</title>
    <link rel="stylesheet" type="text/css" href="report.css">
</head>
<body>
  <div class="content">
  <h1>Database Size Report</h1>
  <h2>Total Size</h2>
  {{ total_size }}
  <h2>Table Sizes</h2>
  {{ rel_size_table }}
  <h2>Index Sizes</h2>
  {{ index_size_table }}
  </div>
</body>
</html>
